@model IEnumerable<CourseManagment.Models.ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="CreateUser">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
